In [2]:
import pandas as pd

In [30]:
df = pd.read_csv("data-banjir-jakarta-3-tahun-terakhir.csv")
df = df.drop(df.columns[0], axis=1)
# df

In [31]:
# Menggabungkan kolom kota_administrasi dan kelurahan dengan pemisah ", "
df['lokasi'] = df.apply(lambda row: row['kota_administrasi'] + ", " + row['kelurahan'], axis=1)
df = df.drop(df.columns[1], axis=1)
# Mengambil kolom 'lokasi' dan menyimpannya dalam variabel terpisah
lokasi = df.pop('lokasi')

# Menyisipkan kolom 'lokasi' ke posisi pertama dalam dfFrame
df.insert(2, 'lokasi', lokasi)
df['kota_administrasi'] = df['kota_administrasi'].str.lower()
df['kelurahan'] = df['kelurahan'].str.lower()
df['lokasi'] = df['lokasi'].str.lower()
df

,kota_administrasi,kelurahan,lokasi,rw,jumlah_terdampak_rw,jumlah_terdampak_rt,jumlah_terdampak_kk,jumlah_terdampak_jiwa,ketinggian_air,tanggal_kejadian,lama_genangan,jumlah_meninggal,jumlah_hilang,jumlah_luka_berat,jumlah_luka_ringan,jumlah_pengungsi_tertinggi,jumlah_tempat_pengungsian,nilai_kerugian,Unnamed: 0.1
0,jakarta barat,kamal muara,"jakarta barat, kamal muara","01, 04",2,12,0,0,20 - 30 cm,02 januari 2018,0,0,0,0,0,0,0,0,NaN
1,jakarta utara,kamal,"jakarta utara, kamal","1, 4",2,3,0,0,10 - 25 cm,"03, 04, 05, 18, 31 januari 2018",0,0,0,0,0,0,0,0,NaN
2,jakarta utara,jelambar baru,"jakarta utara, jelambar baru",1,1,2,0,0,15 cm,03 januari 2018,0,0,0,0,0,0,0,0,NaN
3,jakarta utara,jelambar,"jakarta utara, jelambar",7,1,1,0,0,20 cm,03 januari 2018,0,0,0,0,0,0,0,0,NaN
4,jakarta utara,kembangan utara,"jakarta utara, kembangan utara","3, 4, 5, 6",4,2,0,0,5 - 20 cm,18 januari 2018,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1303,kepulauan seribu,pulau harapan,"kepulauan seribu, pulau harapan",0,0,1,0,0,10 - 15 cm,15 desember 2020,0,0,0,0,0,0,0,0,1001.0
1304,kepulauan seribu,pulau harapan,"kepulauan seribu, pulau harapan",0,0,1,0,0,5 - 20 cm,15 desember 2020,0,0,0,0,0,0,0,0,1002.0
1305,kepulauan seribu,pulau harapan,"kepulauan seribu, pulau harapan",0,0,1,0,0,15 cm,15 desember 2020,0,0,0,0,0,0,0,0,1003.0
1306,kepulauan seribu,pulau harapan,"kepulauan seribu, pulau harapan",RW : 02,1,1,0,0,5 cm,15 desember 2020,0,0,0,0,0,0,0,0,1004.0
1307,kepulauan seribu,pulau harapan,"kepulauan seribu, pulau harapan",0,0,1,0,0,5 - 20 cm,15 desember 2020,0,0,0,0,0,0,0,0,1005.0

In [32]:
# Melakukan grouping berdasarkan kolom 'lokasi' dan menghitung jumlah dalam setiap grup
grouped_data = df.groupby('kota_administrasi').size()

# Mengurutkan hasil grouping dari yang terbesar ke terkecil
sorted_data = grouped_data.sort_values(ascending=False)

# Cetak hasil
print(sorted_data)

kota_administrasi
jakarta timur       478
jakarta selatan     398
jakarta barat       251
jakarta utara       125
jakarta pusat        41
kepulauan seribu     13
jakarta urata         2
dtype: int64

In [21]:
# Filter hanya baris dengan string "Jakarta Utara" dalam kolom 'lokasi'
filtered_data = df[df['Lokasi'].str.contains('jakarta utara')]

# Cetak hasil
print(filtered_data)

                              Lokasi                                  rw  \
1               jakarta utara, kamal                                1, 4
2       jakarta utara, jelambar baru                                   1
3            jakarta utara, jelambar                                   7
4     jakarta utara, kembangan utara                          3, 4, 5, 6
5               jakarta utara, kapuk  02, 05, 06, 07, 09, 12, 13, 15, 16
...                              ...                                 ...
1173          jakarta utara, marunda                                   0
1174          jakarta utara, marunda                                   0
1175            jakarta utara, ancol                             RW : 08
1176            jakarta utara, ancol                                   0
1177            jakarta utara, ancol                                   0

      jumlah_terdampak_rw  jumlah_terdampak_rt jumlah_terdampak_kk  \
1                       2                    3                   0
2                       1                    2                   0
3                       1                    1                   0
4                       4                    2                   0
5                       9                   21                   0
...                   ...                  ...                 ...
1173                    0                    1                   0
1174                    0                    1                   0
1175                    1                    1                   0
1176                    0                    1                   0
1177                    0                    1                   0

      jumlah_terdampak_jiwa ketinggian_air                  tanggal_kejadian  \
1                         0     10 - 25 cm   03, 04, 05, 18, 31 januari 2018
2                         0          15 cm                   03 januari 2018
3                         0          20 cm                   03 januari 2018
4                         0      5 - 20 cm                   18 januari 2018
5                         0      5 - 30 cm                   18 januari 2018
...                     ...            ...                               ...
1173                      0          15 cm         17, 18 november 2020 2020
1174                      0          15 cm                  17 november 2020
1175                      0          20 cm                  17 november 2020
1176                      0          20 cm                  17 november 2020
1177                      0          10 cm                  17 november 2020

      lama_genangan  jumlah_meninggal  jumlah_hilang  jumlah_luka_berat  \
1                 0                 0              0                  0
2                 0                 0              0                  0
3                 0                 0              0                  0
4                 0                 0              0                  0
5                 0                 0              0                  0
...             ...               ...            ...                ...
1173              0                 0              0                  0
1174              0                 0              0                  0
1175              0                 0              0                  0
1176              0                 0              0                  0
1177              0                 0              0                  0

      jumlah_luka_ringan  jumlah_pengungsi_tertinggi  \
1                      0                           0
2                      0                           0
3                      0                           0
4                      0                           0
5                      0                           0
...                  ...                         ...
1173                   0                           0
1174                   0                           0
1175                   0                           0
1176                   0                           0
1177                   0                           0

      jumlah_tempat_pengungsian  nilai_kerugian  Unnamed: 0.1
1                             0               0           NaN
2                             0               0           NaN
3                             0               0           NaN
4                             0               0           NaN
5                             0               0           NaN
...                         ...             ...           ...
1173                          0               0         871.0
1174                          0               0         872.0
1175                          0               0         873.0
1176                          0               0         874.0
1177                          0               0         875.0

[125 rows x 17 columns]

In [22]:
# Melakukan grouping berdasarkan kolom 'Lokasi' dan menghitung jumlah dalam setiap grup
grouped_data = filtered_data.groupby('Lokasi').size()

# Cetak hasil
print(grouped_data)

Lokasi
jakarta utara, ancol                        6
jakarta utara, cengkareng timur             1
jakarta utara, cilincing                    2
jakarta utara, jelambar                     1
jakarta utara, jelambar baru                1
jakarta utara, kamal                        1
jakarta utara, kamal muara                  1
jakarta utara, kapuk                        1
jakarta utara, kapuk muara                  9
jakarta utara, kebon bawang                 3
jakarta utara, kel. ancol                   1
jakarta utara, kel. cilincing               2
jakarta utara, kel. kalibaru                1
jakarta utara, kel. kamal muara             5
jakarta utara, kel. kamal muara             1
jakarta utara, kel. kebon bawang            1
jakarta utara, kel. kel. tugu selatan       1
jakarta utara, kel. kelapa gading barat     1
jakarta utara, kel. marunda                 1
jakarta utara, kel. pegangsaan dua          2
jakarta utara, kel. pejagalan               2
jakarta utara, kel. penjaringan             3
jakarta utara, kel. pluit                   4
jakarta utara, kel. rawa badak selatan      1
jakarta utara, kel. rorotan                 2
jakarta utara, kel. semper timur            2
jakarta utara, kel. sukapura                1
jakarta utara, kel. sungai bambu            1
jakarta utara, kel. tanjung priok           2
jakarta utara, kel. warakas                 1
jakarta utara, kelapa gading barat          2
jakarta utara, kelapa gading timur          2
jakarta utara, kembangan utara              1
jakarta utara, marunda                      6
jakarta utara, pademangan barat             1
jakarta utara, pademangan timur             1
jakarta utara, pegangsaan dua               3
jakarta utara, pejagalan                    3
jakarta utara, penjaringan                  7
jakarta utara, pluit                       12
jakarta utara, rawa badak selatan           6
jakarta utara, rawa buaya                   1
jakarta utara, rorotan                      5
jakarta utara, semper barat                 2
jakarta utara, semper timur                 2
jakarta utara, suka pura                    1
jakarta utara, sukapura                     2
jakarta utara, sunter jaya                  1
jakarta utara, tanjung priok                1
jakarta utara, tugu selatan                 3
jakarta utara, tugu utara                   1
jakarta utara, warakas                      1
dtype: int64